/**图片大小不一致的修改方法*/
.img-thumbnail{
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius:0.25rem;
    object-fit: cover;
    width: 120px;
    height: 120px;
}