<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   {# ******添加第一个******** #}

    <title>{% block title %}Base{% end %}</title>  {# 被词语句包裹的代码块在子模板中可以被重写，覆盖父模板中的 #}
    <link rel="shortcut icon" href="{{ static_url('images/favicon.ico') }}"> {# 添加一个图标在由标里面 #}
    {# 可以导入一些其他的模板文件，一般使用 include 的时候，模板文件中不使用 block 块  #}
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">  {# ******添加第二个******** #}
</head>

<body>
{% if current_user %}
<h2>当前登录的用户：{{ current_user }} </h2>
<hr>                                                       {# 水平线 #}
{% end %}

{% block body %}
    this is tornado
{% end %}  {# 输出里面的字母 #}

<script src="{{ static_url('js/jquery-3.3.1.slim.min.js') }}"></script>    {# ******用静态路径的方式添加*****添加第三个******** #}
<script src="{{ static_url('js/popper.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>

</body>
</html>





