{# 所有要继承的页面 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">                                        {# ******添加第一个******** #}

    <title>{% block title %}Base{% end %}</title>  {# 被词语句包裹的代码块在子模板中可以被重写，覆盖父模板中的 #}
    <link rel="shortcut icon" href="{{ static_url('images/favicon.ico') }}"> {# 添加一个图标在由标里面 #}
    {# 可以导入一些其他的模板文件，一般使用 include 的时候，模板文件中不使用 block 块  #}
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">                                            {# ******添加第二个****HTML框架的css**** #}
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">           {# ******添加第三个****字体文件**** #}
    <link rel="stylesheet" href="{{ static_url('css/mai.css') }}">                                                      {# ******添加第四个****图片大小不一致css**** #}
</head>

<body>

                           {# 添加导航栏 #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fa fa-flag fa-2x pull-left"></i>精美图片库</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">首页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/explore">发现</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-male" aria-hidden="true"></i> 用户中心
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">图片</a>
          <a class="dropdown-item" href="/profile">收藏</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">喜欢</a>
        </div>
      </li>

{% if current_user %}
      <li class="nav-item">
        <a class="nav-link btn btn-outline-success my-2 my-sm-0 " href="/logan">{{ current_user }}退出登陆</a>      {# 添加循环 #}
      </li>
{% end %}

    </ul>
      <a href="/upload" class="btn btn-outline-success my-2 my-sm-0" >上传图片</a>      {# 类似按钮的超链接，修改成上传图片 #}
  </div>
</nav>

{% block body %}this is tornado{% end %}  {# 输出里面的字母 #}

<script src="{{ static_url('js/jquery-3.3.1.slim.min.js') }}"></script>    {# ******用静态路径的方式添加*****添加第三个******** #}
<script src="{{ static_url('js/popper.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>

{% block extra_scripts %}{% end %}                {# 添加这个可以让room。html的js不足所有页面展示，是在最后加载 #}


</body>
</html>