{# 用户注册和登录成功后都要跳转到的页面 #}
{% extends 'base3.html' %}               {# 引入3_html。html文件 #}

{% block title %}index page{% end %}    {# 继承模板 #}

{% block body %}                          {# 覆盖title #}

<div class="alert alert-danger" role="alert">  {# 警告提示框 #}
  欢迎您光临<br> A simple danger alert—check it out!
</div>



<nav class="navbar navbar-expand-lg navbar-light bg-light">     {# 导航栏 #}
  <a class="navbar-brand" href="#">Python学习</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">基础<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">数据库</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          html
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">爬虫</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>          {# 这个是搜索 #}
    </form>
  </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-8">

            <div class="alert alert-primary" role="alert">          {# 警告提示框 #}
              A simple primary alert—check it out!
            </div>

            {% for p in posts %}                                         {# 图片展示 #}
            <a href="{{ '/post/{}'.format(p.id) }}">
                <img src="{{ static_url(p.image_url) }}" class="img-fluid"/>
            </a><br>
            {% end %}
        </div>

        <div class="col-md-4">                                          {# 图标信息 #}
            <figure class="figure">
                <img src="http://code.z01.com/v4/assets/img/bootstrap-stack.png" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">A caption for the above image.</figcaption>
            </figure>

             <div class="card" style="width: 18rem;">                   {# 卡片信息 #}
                <img class="card-img-top" src="http://code.z01.com/v4/assets/img/bootstrap-stack.png" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">强哥</h5>
                <p class="card-text">我就是我，不一样的烟火</p>
                <a href="#" class="btn btn-primary">超链接跳转</a>    {# 跳转到顶部 #}
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
