{# 用户注册和登录成功后都要跳转到的页面 #}
{% extends 'base3.html' %}               {# 引入3_html。html文件 #}

{% block title %}index page{% end %}    {# 继承模板 #}

{% block body %}                          {# 覆盖title #}

<div class="alert alert-danger" role="alert">  {# 警告提示框 #}
  欢迎您再次光临！！！<br>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-8">

            <div class="alert alert-primary" role="alert">          {# 警告提示框 #}
              精美图片
            </div>

            {% for p in posts %}                                        {# 缩略图片展示 #}
                <div class="card" style="width: 18rem;">                   {# 卡片信息 #}
                    <a href="{{ '/post/{}'.format(p.id) }}">                 {# 图片路径信息 #}
                    <img class="card-img-top" src="{{ static_url(p.image_url) }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                    <h5 class="card-title">强哥</h5>
                    <p class="card-text">我就是我，不一样的烟火</p>
                    </div>
                </div>
            {% end %}
        </div>

        <div class="col-md-4">                                          {# 图标信息 #}
            <figure class="figure">
                <img src="http://code.z01.com/v4/assets/img/bootstrap-stack.png" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">A caption for the above image.</figcaption>
            </figure>
            <a href="#" class="btn btn-primary">超链接跳转</a>    {# 跳转到顶部 #}
        </div>
    </div>
</div>
{% end %}           35:13
