{# 用户登录注册显示在网页的认证是否一致 #}
{% extends 'base3.html' %}              {# 引入3_html。html文件 #}

{% block title %}login page{% end %}    {# 继承模板 #}

{% block body %}                         {# 覆盖title #}

<div class="row justify-content-center">     {# justify-content-center是输入框居中 #}
    <div class="col-12 col-sm-6 col-4 text-center">       {# 控制大小 text-center是元素居中 #}
        {% if mai %}                              {# 把错误信息显示出来 #}
            <div class="alert alert-danger" role="alert">  {# 警告提示框 #}
              错误信息:{{ mai }}
            </div>
        {% end %}

        <form action="/login" enctype="multipart/form-data" method="post">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-qq" aria-hidden="true"></i> username</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="username">
            </div>

             <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key fa-fw"></i>  password</span>
                </div>
                <input type="password" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="password">
            </div>
            <button type="submit" class="btn btn-lg  btn-primary">提交</button>  {# 按钮组件 btn-lg是大小 btn-primary是颜色#}
        </form>
    </div>
</div>
{% end %}
